@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  --primary-color: #ffffff;
  --secondary-color: #cccccc;
  --tertiary-color: #FF9A00;
  --quaternary-color: #141414;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #141414;
  max-width: 1900px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 h2 {
  font-size: calc(10px + 1vw);
  margin-bottom: 20px;
  text-align: center;
}
 h3 {
  font-size: calc(10px + 1vw);
  margin-bottom: 20px;
  text-align: center;
}
 h6 {
  font-size: calc(10px + 1vw);
  margin-bottom: 20px;
  text-align: center;
  color: var(--tertiary-color);
}

.home-container {
  height: 100vh;
}

.video-container {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 60rem;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
}
video {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  opacity: 1;

}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50%;
  left: 82.5%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: calc(2rem + 1vw);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  width: 30%;
  height: 80vh;
}

.home-header button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  transition: 0.3s;
}

.home-header button{
  margin: 20px;
  padding: 10px 20px;
  font-size: calc(8px + 1vw);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  margin: 0 auto;
} 

.home-header button a {
  text-decoration: none;
  color: var(--primary-color);
}

#outer{
  background-color: transparent;
  border: 1px solid #FF9A00;
} 

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  width: calc(80% - 20px);
  height: auto;
}


@media screen and (max-width: 768px) {
  .home-container {
    height: 100vh;
  }
  .home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: calc(2rem + 1vw);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    width: 30%;
    height: 80vh;
  }
  .home-header button{
    margin: 20px;
    padding: 10px 20px;
    font-size: calc(5px + 1vw);
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    width: 80%;
    margin: 0 auto;
  } 
}



