.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #0f1224;
}

.about-section-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
  }
  
  
.about-section-p p {
    font-size: 1.5rem;
    width: 80ch;
  }

  .about-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .about-section img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .about-section-content {
    display: flex;
    flex-direction: column;
  }

  .icons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .about-section ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    
  }

  .about-section li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  
  

  @media screen and (max-width: 768px) {
    .about-section-p p {
      font-size: .5rem;
      width: 80ch;
    }

    .about-section img {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }

    .inner-icons-content p {
      font-size: .5rem;
    }

    .about-section li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .about-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .icons-div ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
  .about-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    
  }
  
  
  
  }