.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: #fff;
}


.contact .icon {
    font-size: 5rem;
    margin: 0.5rem;
}

