.guild-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.guild-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    color: #fff;
}
.guild-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}   
.guild-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 90ch;
}   
.guild-image img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}



@media screen and (max-width: 768px) {
    .guild-section {
        flex-direction: column;
        overflow: hidden;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image img {
        width: 300px;
        height: 300px;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        font-size: .9rem;
        margin-bottom: 20px;
        width: 50ch;
    }   
}

@media screen and (min-width: 769px) and (max-width: 1000px) { 
    .guild-section {
        flex-direction: column;
        overflow: hidden;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image img {
        width: 300px;
        height: 300px;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        font-size: .9rem;
        margin-bottom: 20px;
        width: 50ch;
    }   
}

@media screen and (min-width: 1001px) and (max-width: 1499px) {
    .guild-section {
        flex-direction: column;
        overflow: hidden;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image img {
        width: 300px;
        height: 300px;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        font-size: .9rem;
        margin-bottom: 20px;
        width: 50ch;
    }   
}