.roster {
  height: 130vh;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 100px;
    color: black;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    height: 100vh;
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }

  .first-roster ul {
    display: flex;
    flex-direction: row;
  }

  .first-roster ul li {
    padding: 0 40px;
    list-style: none;
  }

  .leaders {
    display: flex;
    flex-direction: column;
  }


  .leaders ul {
    display: flex;
    flex-direction: row;
  }

  .leaders ul li {
    padding: 0 40px;
    list-style: none;
  }

  .arm-icon {
      width: 20px;
      height: 20px;
  }