.offer-container {
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../../assets/images/redm.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding-top: 50px;
    height: 100vh;
    max-height: 100%;
    flex-direction: column;
    overflow: hidden;
}


.offer-container p {
    font-size: calc(10px + 1vw);
    margin-bottom: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;

}

.what-we-offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wwo-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 60%;
    margin: 0 auto;

}
.wwo-icons p {
    font-size: 1.1rem;
    width: 70%;

}

.wwo-icons img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid var(--tertiary-color);
}

@media screen and (max-width: 1200px) {
    .offer-container {
        padding-top: 50px;
        padding-bottom: 50px;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
    .what-we-offer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .what-we-offer p {
        font-size: 1.1rem;
        width: 90%;
    }
    .offer-container p {
        font-size: calc(10px + 1vw);
        margin-bottom: 20px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .wwo-icons img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        border: 1px solid var(--tertiary-color);
    }

    
}