header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Center the content horizontally */
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -10%);
  height: 7%;
  width: 95%;
  margin: 1% 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency here */
  backdrop-filter: blur(10px); /* Adjust the blur radius here */
  border-radius: 10px; /* Increase the border radius for rounded corners */
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li {
    margin: 0 10px;

}

nav li a {
    color: #fff;
    text-decoration: none;

}

nav li button {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      background-color: none;
      transition: color .5s ease-in;
      border: none;
      border-radius: 10px;
      padding: 10px;

}

nav li button:hover {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    transition: background-color .5s ease-in;
}


.logo {
    height: 30px;
    width: 150px;
    margin-top: 10px;
}


nav ul li button {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    color: #fff;
}

  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
.logo-moblie {
  height: 30px;
  width: 150px;
  margin-top: 10px;
  display: none;
}
  /* Media query for small screens */
  @media (max-width: 768px) { 
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, -12%);
      height: 7%;
      width: 100%;
      z-index: 1;
      border-radius: 0;
  
  }
 
  
  
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: 100vh;
      position: fixed;
      inset: 0 0 0 0;
      background-color: #000000;
      transform: translatex(-100%);
      transition: transform 550ms ease-out;
      padding: min(30vh, 10rem) 2em;
    }
  
    .nav-links.open {
      transform: translatex(0%);
    }
  
    .nav-links li {
      margin: 0;
      padding: 10px;
      text-align: center;
    }
  
    .menu-icon {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      z-index: 9999;
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }
  
    .bar {
      height: 2px;
      width: 20px;
      background-color: #fff;
      margin: 3px 0;
    }
    .logo-moblie {

      display: block;
    }
  }
  