#jumbo-anchor-element {
    position: relative;
  }
  .card-body {
    background-color: gray;
    color: var(--text-primary);
    width: 100%;
    height: 100%;
  }
  
  .card-columns {
    height: 100%;
    width: 100%;
  }
  .card-text {
    width: 100%;
  }
  .jumbo-positioner {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 35vh 0 0 0; */
  }
  
  .jumbo-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .jumbo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(19, 23,45, 0.5);
    margin-top: 600px;
    width: 100%;
    height: 40%;
  }
  .jumbo-content h1 {
    font-size: 3rem;    
    font-weight: 700;  
    color: #fff;
    text-align: center;
    font-family: "Avenir Next World","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  }

  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -webkit-transition: background-position 0.4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }




  
  /* BACKGROUND SLIDESHOW CSS */
  /* --- START --- */
  
  #splash {
    max-height: 90vh;
    background-color: var(--bg-color-primary);
  }
  
  .back-full-container {
    display: flex;
    overflow: hidden;
  }
  
  .back-container {
    overflow: hidden;
  }
  
  .sliding-background-up {
    background: repeat-y;
    background-size: auto;
    height: 11013px; /* The image height times 3 */
    max-width: 630px;
    min-width: 630px;
    animation: bgSlideUp 30s cubic-bezier(0.4, 0.0, 0.2, 1) infinite alternate;
    margin-left: 10px;
  }
  
  .sliding-background-down {

    margin-left: 10px;
    background: repeat-y;
    background-size: auto;
    height: 11013px; /* The image height times 3 */
    max-width: 630px;
    min-width: 630px;
    animation: bgSlideDown 30s cubic-bezier(0.4, 0.0, 0.2, 1) infinite alternate;
  }
  
  /* .sliding-background-down:hover,
  .sliding-background-up:hover {
    opacity: 0.9;
  } */
  
  @keyframes bgSlideUp {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -1835.5px, 0); /* Half of the image height */
    }
    100% {
      transform: translate3d(0, -3671px, 0);
    }
  }
  
  @keyframes bgSlideDown {
    0% {
      transform: translate3d(0, -3671px, 0);
    }
    50% {
      transform: translate3d(0, -1835.5px, 0); /* Half of the image height */
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  /* ---  END  --- */
  /* BACKGROUND SLIDESHOW CSS */
  

  @media screen and (max-width: 768px) {
    .jumbo-content {
      margin-top: 400px;
    }
    .jumbo-content h1 {
      font-size: 2rem;
    }

    .sliding-background-up {
display: none;
    }
    
    .sliding-background-down {
  
      margin-left: 0;
      background: repeat-y;
      background-size: auto;
      height: 11013px; /* The image height times 3 */
      max-width: 630px;
      min-width: 400px;
      background-position: -150px 300px;
      animation: bgSlideDown 30s cubic-bezier(0.4, 0.0, 0.2, 1) infinite alternate;
    }
    
  }