.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  padding-top: 100px;

}

.placeHolder {
  background-image: url(../../assets/images/redm.png);
  width: 800px;
  height: 500px;
  border-radius: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

  .ss-p {
    width: 100%;
  }

  .ss-p p {
    font-size: 2rem;
    width: 60ch;
    margin: 10px auto;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 10px;
  }


  

  @media screen and (max-width: 768px) {
    .about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #fff;
      padding-top: 50px;
      overflow: hidden;
      margin-bottom: 50px;
    }  

    .placeHolder {
      background-image: url(../../assets/images/redm.png);
      width: 90%;
      height: 500px;
      border-radius: 30px;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
      .ss-p {
        width: 100%;
      }
    
      .ss-p p {
        font-size: 1rem;
        width: 90%;
        margin: 10px auto;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
    
    
    
    
    
  
  }
 
  @media screen and (min-width: 769px) and (max-width: 1000px) { 
    .about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      color: #fff;
      padding-top: 50px;
      overflow: hidden;
      margin-bottom: 50px;
    }  

    .placeHolder {
      background-image: url(../../assets/images/redm.png);
      width: 90%;
      height: 500px;
      border-radius: 30px;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
      .ss-p {
        width: 90%;
        margin: 0 auto;
      }
    
      .ss-p p {
        font-size: 1rem;
        width: 90%;
        margin: 10px auto;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
    
    
      
    
  }

  @media screen and (min-width: 1001px) and (max-width: 1499px) {
    .about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      color: #fff;
      padding-top: 50px;
      overflow: hidden;
      margin-bottom: 50px;
    }  
    .placeHolder {
      background-image: url(../../assets/images/redm.png);
      background-repeat: no-repeat;
      width: 900px;
      height: 500px;
      border-radius: 30px;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
      .ss-p {
        width: 80%;
        margin: 0 auto;
      }
    
      .ss-p p {
        font-size: 1rem;
        width: 90%;
        margin: 10px auto;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
    
    
    
  } 

  @media screen and (min-width: 1500px) and (max-width: 1600px) {
    .about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      color: #fff;
      padding-top: 50px;
      overflow: hidden;
      margin-bottom: 50px;
    }  

    .placeHolder {
      background-image: url(../../assets/images/redm.png);
      background-repeat: no-repeat;
      width: 900px;
      height: 500px;
      border-radius: 30px;
      margin-right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px rgba(0,0,0,1);
    }
    
      .ss-p {
        width: 70%;
        margin: 0 auto;
      }
    
      .ss-p p {
        font-size: 1rem;
        width: 90%;
        margin: 10px auto;
        font-weight: 600;
        color: #fff;
        text-align: center;
        padding: 10px;
      }
    
    
    
    
  }