.guild-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 80vh;
}

.guild-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    color: #fff;
}
  
.guild-info p {
    font-size: calc(10px + 1vw);
    margin-bottom: 20px;
    width: 90%;
}   
.guild-image {
    height: 100%;
    width: 100%;
    padding-left: 20px;
}
.guild-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s;
}



@media screen and (max-width: 768px) {
    .guild-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .guild-section {
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image {
        width: 50%;
        height: 100%;
    }
    .guild-image img {
        position: relative;
        left: 50%;
        transform: translateX(-30%);
        width: 100%;
        height: 100%;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        margin-bottom: 20px;
    }   
}

@media screen and (min-width: 769px) and (max-width: 1000px) { 
    .guild-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .guild-section {
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image {
        width: 50%;
        height: 100%; 
        margin: 0 auto;
    }
    .guild-image img {
        position: relative;
        left: 50%;
        transform: translateX(-30%);
        width: 100%;
        height: 100%;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        margin-bottom: 20px;
    }   
}

@media screen and (min-width: 1001px) and (max-width: 1499px) {
    .guild-section {
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    }
    .guild-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .guild-info {
        margin: 0;
        margin-top: 20px;
    }
    .guild-image {
        width: 50%;
        height: 100%; 

    }
    .guild-image img {
        position: relative;
        left: 50%;
        transform: translateX(-30%);
        width: 100%;
        height: 100%;
    }
    .guild-info h1 {
        font-size: 1rem;
        margin-bottom: 20px;
    }   
    .guild-info p {
        margin-bottom: 20px;
    }   
}